@charset "utf-8";
// If need, change your variables before importing Bulma

$family-sans-serif: "Museo Sans", BlinkMacSystemFont, -apple-system, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$weight-normal: 400;
$weight-semibold: 500;
$body-line-height: 1.8;
$text: hsl(0, 0%, 4%);
$primary: #5978ff;

b {
  font-weight: $weight-semibold;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.jumbotron {
  text-align: center;

  p.title {
    margin-bottom: 2.5rem;
  }

  p.subtitle {
    color: #222;
    font-weight: 400;
    line-height: 2.9rem;
  }

  @media(min-width: 768px) {
    text-align: left;
    .columns {
      align-items: center;
    }
    .image-column {
      margin-right: 2rem;
    }
    padding: 5rem 0;
  }
}

.text-logo {
  text-decoration: none;
  color: $text;
  border-bottom: 7px solid #92ffc0;

  &:hover {
    color: $text;
    border-bottom-color: #92cdff;
  }
}

.section {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.section-title {
  margin-bottom: 1rem;
  display: inline-block;
  font-weight: 700;
}

.has-underline {
  border-bottom: 5px solid;
}

.underline-green {
  border-bottom-color: #92ffc0;
}

.underline-blue {
  border-bottom-color: #92cdff;
}

.underline-purple {
  border-bottom-color: #AE92FF;
}

.icon {
  vertical-align: -0.2rem;
}

.is-link {
  color: $text;
  position: relative;
  transition: 0.2s all;

  &:hover {
    padding-bottom: 5px;
  }
}

.screenshot {
  transition: all 0.15s;
  &:hover {
    transform: scale(1.02);
  }
}

.work {
  .work-item {
    margin-bottom: 2rem;
  }
  h2.title {
    margin-bottom: 2rem;
  }
  p.subtitle {
    font-weight: 1rem;
  }
}

.quotes {
  .card {
    border-radius: 1rem;
    box-shadow: none;
    border: 4px solid #f7f7f8;

  }
  p.title {
    display: block;
    font-size: 1.1rem;
    line-height: 1.9rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  p.subtitle {
    font-size: 1rem;
    line-height: 1.9rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;

    .image {
      margin-right: 1rem;
    }

    .info {
      display: flex;
      flex-direction: column;
    }
  }
}

@import "~bulma/bulma.sass";
