@charset "utf-8";
// If need, change your variables before importing Bulma

$family-sans-serif: "Museo Sans", BlinkMacSystemFont, -apple-system, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$weight-normal: 500;
$weight-semibold: 700;
$body-line-height: 1.8;
$text: hsl(0, 0%, 4%);
$primary: #5978ff;

.text-logo {
  text-decoration: none;
  color: $text;
  border-bottom: 7px solid #92ffc0;

  &:hover {
    color: $text;
    border-bottom-color: #92cdff;
  }
}

.has-underline {
  border-bottom: 5px solid;
}

.underline-green {
  border-bottom-color: #92ffc0;
}

.underline-blue {
  border-bottom-color: #92cdff;
}

.icon {
  vertical-align: -0.2rem;
}

.is-link {
  color: $text;
  position: relative;
  transition: 0.2s all;

  &:hover {
    padding-bottom: 5px;
  }
}

.screenshot {
  transition: transform 0.15s;
  &:hover {
    transform: scale(1.02);
  }
}

@import "~bulma/bulma.sass";
